---
import GitHubIcon from "./icons/GitHubIcon.astro";
import VideoIcon from "./icons/VideoIcon.astro";
import GaleryIcon from "./icons/GaleryIcon.astro";

interface Props {
 title: string;
 description: string;
 technologies: any[];
 link?: string;
 image?: string;
 github?: string;
}

const { title, description, technologies, link, image, github } = Astro.props;
---

<article
 class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
>
 <div class="w-full md:w-1/2 md:max-w-lg">
  <h3 class="text-2xl font-bold text-secondary/90">{title}</h3>
  <p class="flex flex-wrap mt-2 dark:text-gray-200/90 text-gray-800/90">
   {description}
  </p>
  <div class="mt-4 flex flex-wrap gap-4"></div>
  <ul class="flex flex-row mb-2 gap-x-2">
   {
    technologies.map((tech) => (
     <li class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${tech.class}`}>
      {tech.icon && <tech.icon class="size-4 me-1 inline-block" />}
      {tech.name}
     </li>
    ))
   }
  </ul>
  <div class="flex justify-center items-center gap-4 mt-4">
   <!-- Cambiar botones -->
   {
    github && (
     <a
      href={github}
      target="_blank"
      class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring  focus-visible:ring-offset-2 active:bg-black"
     >
      <GitHubIcon class="size-5" /> Ver Código
     </a>
    )
   }

   {
    link && (
     <a
      href={link}
      target="_blank"
      class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring  focus-visible:ring-offset-2 active:bg-black"
     >
      <VideoIcon class="size-5" /> Ver Vídeo
     </a>
    )
   }

   <a
    href={github}
    target="_blank"
    class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-black"
   >
    <GaleryIcon class="size-5" /> Galería
   </a>
  </div>
 </div>

 <div class="w-full md:w-1/2">
  <div
   class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
  >
   <img
    src={image}
    alt={`Captura de Pantalla del proyecto ${title}`}
    class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105 cursor-pointer"
    loading="lazy"
    decoding="async"
   />
  </div>
 </div>
</article>
